<form id="humanbehaviour-form">
    <label for="Year" >Year</label>
    <input type="number" name="Year" class="form-control" />

    <label for="Month" >Month</label>
    <input type="number" name="Month" class="form-control" />

    <label for="Day" >Day</label>
    <input type="number" name="Day" class="form-control" />

    <label for="From" >From</label>
    <input type="time" name="From" class="form-control" />

    <label for="To" >To</label>
    <input type="time" name="To" class="form-control" />

    <label for="Quality" >Quality</label>
    <input type="time" name="Quality" class="form-control" />

    <label for="Task" >Task</label>
    <input type="text" name="Task" class="form-control" />

    <label for="Brief" >Brief</label>
    <input type="text" name="Brief" class="form-control" />

    <input type="hidden" name="UserId" class="form-control" />

    <input type="submit" value="Submit" class="btn btn-primary m-4"/>

</form>

<table class="table">
<thead>
    <tr>

        <th scope="col"></th>
        <th scope="col">Id</th>
        <th scope="col">Year</th>
        <th scope="col">Month</th>
        <th scope="col">Day</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Quality</th>
        <th scope="col">Task</th>
        <th scope="col">Brief</th>
        <th scope="col">UserId</th>

    </tr>
</thead>
<tbody>
</tbody>
</table>












