<table class="table">
<thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">Username</th>
    <th scope="col">IsActive</th>
    <th scope="col">Role</th>
    <th scope="col">Change Password</th>
    <th scope="col">Activate/Deactivate</th>
    </tr>
</thead>
<tbody>
</tbody>
</table>

<div class="modal" id="myModal" style="display:none;">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Edit User</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="usenrame">Username</label>
                <input type="text" class="form-control" name="username" disabled />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" />
            </div>
            <div class="form-group">
                <label for="confirm">Confirm</label>
                <input type="password" class="form-control" name="confirm" />
            </div>
            <div class="form-group checkbox">
                <label><input type="checkbox">Is Active</label>
            </div>
            <div class="form-group">
                <label for="role">Role</label>
                <select name="role" class="form-control">
                    <option value="ADMIN">Administrator</option>
                    <option value="EDTOR">Editor</option>
                    <option value="VSTOR">Visitor</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>