<form class="form-group" Id="changepassword-form">
    <input type="hidden" class="form-control" name="previousUsername">

    <div class="form-group">
        <label for="current">Current Password:</label>
        <input name="Current" type="password" class="form-control" id="current">
    </div>
    <div class="form-group">
        <label for="new">New Password:</label>
        <input name="HashPassword" type="password" class="form-control">
    </div>
    <div class="form-group">
        <label for="confirm">Confirm Password:</label>
        <input name="Confirm" type="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

TODO:
<pre>
Logo: <img src="notfound.jpg" />
<br/>
Halls: a, b, c, d
<br/>
Unknown, Known Status: Known
<br/>
In my circles: a, b, c, d
<br/>


<hr/></pre>